:root {
  --primary: #fe2a53;
  --bg: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #222;
}
i.lni {
  font-size: 1.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #111;
  /* border-bottom: 1px solid #222222; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: #fff;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #fff;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}
.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: #fff;
}
#hamburger-menu {
  display: none;
}
/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1502892247800-37f114ca1e24");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: -8rem;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #efefef 5%, #efefef00 50%);
  bottom: 0;
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  z-index: 999;
}
.hero .content h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
.hero .content p {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 1rem;
  mix-blend-mode: difference;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.2);
}
.hero .content .cta {
  margin-top: 3rem;
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* About Section */
.about,
.service,
.contact {
  padding: 8rem 7% 0;
  margin-bottom: -3rem;
}
.about h2,
.service h2,
.contact h2 {
  text-align: left;
  font-size: 2rem;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.about p,
.service p,
.contact p {
  text-align: left;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 1rem;
}
/* service Section */
.service .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  justify-content: center;
}
.service .row .service-card {
  text-align: center;
  padding: 3rem 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 1.5rem;
  flex: 0 1 20rem;
}

.service .row .service-card .service-card-title {
  margin: 0.5rem auto 0.5rem;
  font-size: 1.5rem;
  text-align: left;
}
.service .row .service-card .service-card-price {
  font-size: 1rem;
}
.service .row .service-card ul {
  text-align: left;
  margin-left: 1.2rem;
  margin-top: 2rem;
}
.service .row .service-card button {
  background-color: var(--primary);
  padding: 1rem 2rem;
  margin-top: 2rem;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
/* contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #ddd;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #ccc;
  padding-left: 2rem;
  border-radius: 0.5rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background: none;
  color: #ccc;
  border-radius: 0.5rem;
}
.contact .row button {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 0.5rem;
}
/* Footer Section */
footer {
  background-color: #070606;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
  margin-top: 8rem;
}
footer .socials,
footer .links,
footer .credit {
  padding: 1rem 0;
}
footer .socials a,
footer .links a {
  color: #fff;
  margin: 0 1rem;
}
footer .credit p {
  color: #fff;
  font-size: 0.8rem;
}

/* Media Queries */
/* Desktop */
@media (max-width: 1366px) {
  html {
    font-size: 97%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 95%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #111;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .service .row .service-card {
    margin: 0.8rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
}
/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 90%;
  }
}
